<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Projeto Django{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Evento.com</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'registrar' %}">Registrar</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}
                <h2>Cadastro de Carros</h2>
                <p>Cadastre seu carro!</p>
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; {{ year }} Evento.com. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
