
{% extends 'base.html' %}

{% block title %}
    {% if form.instance.pk %}
        Editar Carro
    {% else %}
        Adicionar Carro
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}Editar Carro{% else %}Adicionar Carro{% endif %}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'carro_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
